@import "compass/css3";
@import "modular-scale";
@import "foundation/mixins/infinity-mixins";

// Colors Settings

$mainColor: #3FACB4 !default;
$secondaryColor: #e9e9e9 !default;
$alertColor: #c60f13 !default;
$successColor: #5da423 !default;
$txtColor: #222 !default;
$highlightColor: #ffff99 !default;
$black: #000 !default;
$white: #fff !default;
$headerFontColor: #444 !default;
$bodyFontColor: $txtColor !default;

// lighten main
$mainColor5l: lighten($mainColor, 5%);
$mainColor10l: lighten($mainColor, 10%);
$mainColor20l: lighten($mainColor, 20%);
$mainColor30l: lighten($mainColor, 30%);
$mainColor40l: lighten($mainColor, 40%);

// lighten main
$mainColor5d: darken($mainColor, 5%);
$mainColor10d: darken($mainColor, 10%);
$mainColor20d: darken($mainColor, 20%);
$mainColor30d: darken($mainColor, 30%);
$mainColor40d: darken($mainColor, 40%);

// Font Settings
$FontFamily: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !default;
$ratio: fourth(); 
$baseFontSize: 14px !default;
$importantModNum: 44px !default;
$base-size: $baseFontSize $importantModNum;
$fontSmoothing: antialiased !default;

$headerFontFamily: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !default;
$headerFontWeight: bold !default;
$headerFontStyle: normal !default;
$bodyFontFamily: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !default;
$bodyFontWeight: normal !default;
$bodyFontStyle: normal !default;

// Global Margin Settings

$globalMargin: 30px;

// Grid Settings

$rowWidth: 1150px !default;

// Button Settings

$buttonRadius: 3px !default;
$btnBase: 10px !default;

$tinyBtnBase: $btnBase - 5 !default;
$smallBtnBase: $btnBase - 3 !default;
$largeBtnBase: $btnBase + 5 !default;

// Off Canvas Width Settings

$mainWidth: 80% !default;
$complementaryWidth: 20% !default;

// Modular Scale Settings

// Media Queries

$screenSmall: 768px !default;
$screenMedium: 1279px !default;
$screenXlarge: 1441px !default;

// Text Direction Settings

$textDirection: ltr !default; // Controls default global text direction, 'rtl' or 'ltr'
$defaultFloat: left !default; // Change this to 'right' for right-to-left languages
$defaultOpposite: right !default; // Change this to 'left' for right-to-left languages

@if $textDirection == ltr {
  $defaultFloat: left;
  $defaultOpposite: right;
} @else {
  $defaultFloat: right;
  $defaultOpposite: left;
}
@function convert-number-to-word($num) {
  $count:1;
  @each $word in one,two,three,four,five,six,seven,eight,nine,ten,eleven,
    twelve,thirteen,fourteen,fifteen,sixteen,seventeen,eighteen,nineteen,
    twenty,twentyone,twentytwo,twentythree,twentyfour{
    @if ($count == $num) { @return $word; }
    $count: $count + 1;
  }
  @return "invalid";
}


